


.list-group-item{
    position:relative;
    border-radius: 10px;
    margin-bottom: 10px;
    padding:15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

#tasklist{
max-width: 100px;
    margin: 0 auto;
}

.list-group-item:hover{
    background-color: rgb(239, 251, 236);
}
.completed{
    text-decoration: line-through;
    color: rgb(219, 219, 219);
}